body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #efe7d469 !important;
}

.custom-bg {
  background-color: #049DD9 !important;
  color: white !important;
}

.card-header {
  background-color: #efe7d469 !important;
}